<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Design Studio</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- fontes do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        
</head>

<body>

    <section class="top-header">
        <header>
            <div class="container">
                <div class="logo">
                    <h1>silika</h1>
                    <a href="#" class="secondary-color">We’re Hiring</a>
                </div>
                <!--fim: logo -->

                <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>
                </nav>
                <!-- fim: menu -->

                <div class="login">
                    <a href="#">login</a>
                    <a href="#" class="primary-color">Get started </a>
                </div>


            </div>
        </header>

        <div class="cta">
            <div class="container">
                <h2>Silika Helps <br>Marketing Agencies!</h2>

                <p>At nulla tristique facilisis augue. Lectus diam dignissim erat blandit pellentesque egestas nulla a.
                    Nulla consectetur nunc egestas metus pellentesque.</p>
                <div class="bts-cta">
                    <a href="#" class="primary-color">Get Started</a>
                    <a href="#" class="secondary-color">How It Works</a>
                </div>

    </section>

    <!-- section top-header -->

    <section class="brands">
        <div class="container">

            <img src="images/adobe.jpg" alt="adobe">
            <img src="images/mosaic.jpg" alt="mosaic">
            <img src="images/colab.jpg" alt="colab">
            <img src="images/holtzman.jpg" alt="holtzman">

        </div>
    </section>
    <!-- brands -->

    <section class="abut-us">
        <h3>About us</h3>
        <div class="container">
            <div class="about-us-description">
                <h4>professional & team choose copy.ai</h4>
                <p>professional & team choose copy.ai
                    Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit sit
                    massa ullamcorper
                    Get Started</p>

                <a href="#" class="primary-color">Get Started</a>

                <div class="about-us-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fX5WCe3d8WU?si=KoDVaatAnjdJjXl5"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>
    <!-- about-us -->

    <section class="our-features">
        <h3>Our Features</h3>
        <div class="container">
            <div class="card">

                <div class="icon-card">
                    <img src="images/pasta.svg">
                </div>
                <div class="description-card">
                    <h4>Blog Content</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <div class="card">
                <div class="icon-card">
                    <img src="images/flor.svg">
                </div>

                <div class="description-card">
                    <h4>Article</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <div class="card">
                <div class="icon-card">
                    <img src="images/add.svg">
                </div>

                <div class="description-card">
                    <h4>Content Writing</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <div class="card">
                <div class="icon-card">
                    <img src="images/menu.svg">
                </div>

                <div class="description-card">
                    <h4>Content Writing</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <div class="card">
                <div class="icon-card">
                    <img src="images/design.svg">
                </div>

                <div class="description-card">
                    <h4>Design</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>

            <div class="card">
                <div class="icon-card">
                    <img src="images/foguete.svg">
                </div>

                <div class="description-card">
                    <h4>Coding</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>
                    <a href="#">Try Blog Content</a>
                </div>
            </div>


        </div>
        </div>
    </section>

    <section class="testimonials">
        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">
            <div class="testimonial-card">
                <div class="perfil">

                    <div class="foto-perfil">
                        <img src="images/Ellipse 9.png">
                    </div>

                    <div class="perfil-name">
                        <h4>Brooklyn Simmons</h4>
                        <p class="cargo">Nursing Assistant</p>
                    </div>



                </div>
                <!-- criação do perfil -->


                <div class="comments">
                    <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit
                        sit massa ullamcorper</p>
                </div>


            </div>
        </div>
    </section>


    <section class="testimonials2">
        <h3>Let’s See What Our Clients Says</h3>
        <div class="container">
            <div class="testimonial-card2">
                <div class="perfil2">

                    <div class="foto-perfil2">
                        <img src="images/Ellipse 9.png">
                    </div>

                    <div class="perfil-name2">
                        <h4>Brooklyn Simmons</h4>
                        <p class="cargo2">Nursing Assistant</p>
                    </div>



                </div>
                <!-- criação do perfil -->


                <div class="comments2">
                    <p>Odio dictum lacus augue nulla sit integer facilisis massa. Nec et tellus eu amet. Faucibus sit
                        sit massa ullamcorper</p>
                </div>


            </div>
        </div>
    </section>

    <section class="works">
        <h3>How it works</h3>
        <div class="container">
            <div class="images">
                <img src="images/lampada.jpg" alt="lampada">
            </div>

            <div class="titulo">
                <h4><span>1</span>Enter your copywrite project</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu tempor tincidunt
                    commodo</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                    <li>Tortor turpis nibh viverra nunc bibendum.</li>
                </ul>
            </div>

        </div>

        <div class="container">
            <div class="images">
                <img src="images/compuutador1.jpg" alt="computador1">
            </div>

            <div class="titulo">
                <h4><span>2</span>Genarate Idea</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu tempor tincidunt
                    commodo</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                    <li>Tortor turpis nibh viverra nunc bibendum.</li>
                </ul>
            </div>

        </div>


        <div class="container">
            <div class="images">
                <img src="images/computador2.jpg" alt="computador2">
            </div>

            <div class="titulo">
                <h4><span>3</span>Copy & Use</h4>
                <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra est purus eu tempor
                    tincidunt commodo</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Quam duis viverra amet, ultrices risus quis integer nec nulla.</li>
                    <li>Tortor turpis nibh viverra nunc bibendum.</li>
                </ul>
            </div>

        </div>
    </section>

    <section class="ready">
        <h3>Ready to level-up?</h3>
        <div class="container">
            <p>Id ipsum amet nibh dolor mi ac diam pellentesque.</p>
            <a href="#" class="primary-color">Get Started - It’s Free</a>

            <form>
                <fieldset>
                    <div class="option">
                        <input type="radio" name="plans" value="no-credit">
                        <span>No Credit Card Required</span>
                    </div>

                    <div class="option">
                        <input type="radio" name="plans" value="30-credits ">
                        <span>30 credits on sign up</span>
                    </div>

                    <div class="option">
                        <input type="radio" name="plans" value="90+contents">
                        <span>90+ contents type to explore</span>
                    </div>
                </fieldset>
            </form>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="baixo">
                <h5>Product</h5>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Copy ai Reviews</a></li>
                    <li><a href="#">Alternatives</a></li>
                    <li><a href="#">25+ Languages</a></li>
                    <li><a href="#">Free Ai Tools</a></li>
                </ul>

                <div class="baixo">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                    </ul>

                </div>

                <div class="baixo">
                    <h5>Support</h5>
                    <ul>

                        <li><a href="#">Weekly Deos</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Report a Bug</a></li>
                        <li><a href="#">Report an Outage</a></li>
                        <li><a href="#">Request a New Feature</a></li>

                    </ul>

                </div>

                <div class="baixo">
                    <h5>User Cases</h5>
                    <ul>
                        <li><a href="#">For Blog Writers</a></li>
                        <li><a href="#">For Social Media</a></li>
                        <li><a href="#">Managers</a></li>
                        <li><a href="#">Report</a></li>
                    </ul>

                </div>


            </div>
        </div>


        <div class="container">
            <div class="esquerdo">
                <h5>Silika.ai</h5>
                <p>© 2025 copy ai, Inc </p>
                <a href="#">Privacy Notice</a>
                <a href="#">Terms of service</a>
            </div>

            <div class="container">
                <div class="direito">
                    <a href="https://www.facebook.com/?locale=pt_BR"><img src="images/akar-icons_facebook-fill.svg"
                            alt="facebook"></a>
                    <a href="https://www.instagram.com/"><img src="images/akar-icons_instagram-fill.svg"
                            alt="instagram"></a>
                    <a href="https://www.facebook.com/?locale=pt_BR"><img src="images/akar-icons_twitter-fill.svg"
                            alt="Twitter"></a>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>